@font-face {
  font-family: "Cursed Timer Ulil";
  src: local(CursedTimerUlil), url(CursedTimerUlil-Aznm.ttf) format("opentype");
}

* {
  padding: 0;
  margin: 0;
}

.container {
  background: #1b244a;
  display: flex;
  font-family: "Cursed Timer Ulil", sans-serif;
  justify-content: space-evenly;
  margin: 50px auto;
  max-width: 40%;
  text-align: center;
}

h2,
ul.point-increments {
  color: #eeeeee;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  margin: 50px 0 22px 0;
  text-align: center;
}

span {
  background-color: #000000;
  color: #f94f6d;
  display: inline-block;
  font-size: 90px;
  height: 105px;
  padding-top: 15px;
  width: 155px;
}

ul.point-increments {
  display: flex;
  gap: 8px;
  justify-content: space-around;
  list-style: none;
  margin-top: 20px;
}

li {
  border: 2px solid #9aabd8;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 5px;
}

li:hover {
  cursor: pointer;
}

@media (max-width: 575px) {
  .container {
    flex-direction: column;
    width: auto;
  }

  .span {
    flex-direction: column;
  }

  ul.point-increments {
    gap: 25px;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 75%;
  }
}
